<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container">
    <div class="block-heading">
        <h2 class="text-info">cateLiST</h2>
    </div>
</div>
<br/>
<div class="container">
    <ul>
        <li><h4><a href="games">Games</a></h4></li>
        <li><h4><a href="fs">Films and TV Shows</a></h4></li>
        <li><h4><a href="saveddit">Saved Reddit Posts</a></h4></li>
    </ul>
</div>
</body>
</html>
