<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel='stylesheet' href='/bootstrap/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="wrapper">
    <div class="container">
            <h2 class="text-info" style="float: left;">rLiST</h2>
            <a href="/" style="float: right;">Go back</a>
    </div>
    <div class="container">
        <input type="text" id="myInput" class="search-box" placeholder="Search via name..." onkeyup="search()"
               title="Search for a post">
    </div>
    <br/>
    <div class="container">
        <table id="game-table" class="table table-striped table-bordered">
            <colgroup>
                <col style="width: 70%"/>
                <col style="width: 20%"/>
                <col style="width: 10%"/>
            </colgroup>
            <tr style="background-color: black; color: white;">
                <th onclick="sortTable2(0)">Name</th>
                <th onclick="sortTable2(1)">Subreddit</th>
                <th>Link</th>
            </tr>
            <tbody>
            <% for(index in savedposts){ %>
                <tr>
                    <td><%= savedposts[index]["Name"].toString() %></td>
                    <td><%= savedposts[index]["Subreddit"].toString() %></td>
                    <td>
                        <a target="_blank" href="<%= savedposts[index]["Link"].toString()%>">
                            Link
                        </a>
                    </td>
            <tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <br/>
</div>
<div id="warning-message">
    <h1>Rotate your screen to access the website!</h1>
</div>
</body>
</html>
<script src="/javascripts/script.js"></script>
