body {
  font-size: 12px;
}

a {
  color: #00B7FF;
}
table{
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.table th,.table td{
  padding: 0.5rem;
}
.table th{
  font-size: 14px;
  cursor: pointer;
}
.search-box{
  width: 100%;
}
input{
  width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
  alignment: center;
}

.add {
  border: none;
  background-color: transparent;
  text-align: center;
}

select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

option {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.button {
  background-color: black;
  color: white;
  border-radius: .5rem;
}

.small {
  width: 10%;
}

.medium {
  width: 20%;
}

.large {
  width: 40%;
}

#warning-message {
  display: none;
}

@media only screen and (orientation: portrait) {
  #wrapper {
    display: none;
  }

  #warning-message {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  #warning-message {
    display: none;
  }
}
