body {
    font-size: 12px;
    background-color: #030303;
}

a {
    color: #00B7FF;
}

table {
    width: 100%;
    text-align: center;
}

table, table th, table td {
    border: none !important;
}

.table th, .table td {
    padding: 0.5rem;
}

.table th {
    font-size: 14px;
}

.search-box {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    background: none;
    border-style: solid;
    outline: none;
    color: white;
    border-width: 0 0 1px;
}

select {
    width: 100%;
}

.add {
    border: none;
    background-color: transparent;
    text-align: center;
}

select {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

option {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.button {
    background-color: black;
    color: white;
    border-radius: .5rem;
}

.small {
    width: 10%;
}

.medium {
    width: 20%;
}

.large {
    width: 40%;
}

#warning-message {
    display: none;
}

@media only screen and (orientation: portrait) {
    #wrapper {
        display: none;
    }

    #warning-message {
        display: block;
    }
}

@media only screen and (orientation: landscape) {
    #warning-message {
        display: none;
    }
}

tr:nth-child(even) {
    background-color: #262627;
}

tr:nth-child(odd) {
    background-color: #151516;
}

td, th {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

td, td > a, td > a:hover {
    color: #D7DADC;
    text-decoration: none;
}

pre code {
    background-color: black;
    color: #0f0;
}

#divMenuContainer {
    width: 100%;
    background-color: #111;
    overflow: auto;
}

#divMenuContainer a {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

.a30 {
    width: 30%;
}

#back {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width: 10%;
}
